.cartItem{
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color:rgb(70, 68, 68);
    margin:10px 0px;

    .cartItemImage{
        flex:3;
        // border:2px solid;
        min-width:100px;
        height:120px;
        
    }
    .cartItemInfo{
        flex:7;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding:0px 0px 0px 20px;
        // border:1px solid;
        box-sizing: border-box;

        .itemName{
            font-size: 20px;
            color: black;
            margin-bottom:5px;
        }

        .itemPrice{
            font-size: 20px;
            color: rgb(51, 51, 51);
        }
    }
}